/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */


/* ######################################################################
   Secci—n 'Header'
   ###################################################################### */

/* ======================================================================
   Zona 'Menu'
   ====================================================================== */

.zon-menu-wrapper {
  margin-top: 1em;
  margin-bottom: .3em;
}

/* ----------------------------------------------------------------------
   Regiones 'Menu 1', 'Menu 2', 'Menu 3', 'Menu 4'
   ---------------------------------------------------------------------- */

.reg-menu {
  text-align: right;
}

.reg-menu-separador { /* Quita la l’nea de separaci—n entre menœs de la versi—n m—vil */
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

/* ----------------------------------------------------------------------
   Regi—n 'Search Bar'
   ---------------------------------------------------------------------- */

.reg-search-bar {
  margin-top: 0;
  margin-bottom: 0;
}

.redes-sociales {
  float: right;
  margin-right: 2px;
}

img.logos-redes-sociales {
  float: right;
  margin-right: 0;
}

.reg-search-bar input[type="text"] {
  float: right;
  margin: 0 0;
}

.reg-search-bar .clearfix:after { /* Para dejar la barra de bœsqueda debajo de los enlaces de redes sociales */
  clear: both;
}

/* ======================================================================
   Zona 'Menu Bottom'
   ====================================================================== */

/* ----------------------------------------------------------------------
   Regi—n 'Menu Bottom Second'
   ---------------------------------------------------------------------- */

.reg-menu-bottom-second p {
  text-align: right;
}

/* ----------------------------------------------------------------------
   Regi—n 'Menu Bottom Bottom'
   ---------------------------------------------------------------------- */

.reg-menu-bottom-bottom {
  margin-top: 0;
}


/* ######################################################################
   Secci—n 'Footer'
   ###################################################################### */

/* ======================================================================
   Zona 'Footer'
   ====================================================================== */

/* ----------------------------------------------------------------------
   Regi—n 'Footer First'
   ---------------------------------------------------------------------- */

.reg-footer-first p {
  text-align: left;
}

/* ----------------------------------------------------------------------
   Regi—n 'Footer Second'
   ---------------------------------------------------------------------- */

.reg-footer-second div.block-image {
  width: 100%;
  margin: 0;
  float: right;
}

.reg-footer-second img {
  width: 100%;
  float: right;
}