/* This file will hold styles that are loaded using the same media query as the wide grid. */


/* ######################################################################
   Secci—n 'Encabezado'
   ###################################################################### */

/* ======================================================================
   Zona 'Menu'
   ====================================================================== */

/* ----------------------------------------------------------------------
   Regi—n 'Logo'
   ---------------------------------------------------------------------- */

.reg-logo img { /* Ancho imagen logo = 126px */
  width: 70%;
}

/* ======================================================================
   Zona 'Header'
   ====================================================================== */

/* ----------------------------------------------------------------------
   Regi—n 'Header Top'
   ---------------------------------------------------------------------- */

.reg-header-top h1 {
  font-size: 9.538em; /* = 124px */
  line-height: .887096; /* = 110px */
  padding-bottom: .024193em; /* = 3px */
}

.block-img-icons img {
  max-height: 104px;
}

/* ----------------------------------------------------------------------
   Regi—n 'Footer Second'
   ---------------------------------------------------------------------- */

.reg-footer-second img {
  width: 17.24%; /* Ancho imagen logo completo = 100px */
}