/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */


/* ######################################################################
   Secci—n 'Header'
   ###################################################################### */

/* ======================================================================
   Zona 'Menu'
   ====================================================================== */

/* ----------------------------------------------------------------------
   Regi—n 'Logo'
   ---------------------------------------------------------------------- */

.reg-logo div.block-image { /* Ancho imagen logo = 100px */
  width: 100%;
  margin: 0;
}

/* ----------------------------------------------------------------------
   Regiones 'Menu 1', 'Menu 2', 'Menu 3', 'Menu 4'
   ---------------------------------------------------------------------- */

body .reg-menu li { /* Ajusta la separaci—n entre los elementos del menœ */
  line-height: 1;
  padding-bottom: .25em;
}

body .reg-menu h2.block-title { /* Ajusta la separaci—n entre los elementos del menœ y el t’tulo */
  line-height: 1;
  padding-bottom: .25em;
}

/* ----------------------------------------------------------------------
   Regi—n 'Search Bar'
   ---------------------------------------------------------------------- */

.redes-sociales {
  margin-bottom: .5em; /* = 6px */
}

img.logos-redes-sociales {
  width: 17px;
  margin-left: 7px;
}

.reg-search-bar input[type="text"] {
  width: 90%; /* Ajusta el ancho de la barra de bœsqueda */
}

/* ======================================================================
   Zona 'Header'
   ====================================================================== */

/* ----------------------------------------------------------------------
   Regi—n 'Header Top'
   ---------------------------------------------------------------------- */

.reg-header-top h1 {
  font-size: 6em; /* = 72px */
  line-height: .930555; /* = 67px */
  padding-bottom: .013888em; /* = 1px */
}

/* ----------------------------------------------------------------------
   Regi—n 'Footer Second'
   ---------------------------------------------------------------------- */

.reg-footer-second img { 
  width: 20.59%; /* Ancho imagen logo completo = 70px */
  margin-top: .3334em; /* = 4px */
}