/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

/* ######################################################################
   General
   ###################################################################### */

/* ======================================================================
   Texto
   ====================================================================== */
h1 {
  font-size: 1.333em; /* = 16px */
}

h2 {
  font-size: 1.333em; /* = 16px */
}

h2.block-title {
  font-size: 1.333em; /* = 14px */
}

h2.node-title {
  font-size: 1.083em; /* = 14px */
}

h3 {
  font-size: 1.250em; /* = 14px */
}

h4 {
  font-size: 1.250em; /* = 14px */
}

h5 {
  font-size: 1.083em; /* = 13px */
}

h6 {
  font-size: 1.083em; /* = 13px */
}

/* ######################################################################
   Secci—n 'Header'
   ###################################################################### */

/* ======================================================================
   Zona 'Menu'
   ====================================================================== */

.zon-menu-wrapper {
  margin-top: 1em;
  margin-bottom: .3em;
}

/* ----------------------------------------------------------------------
   Regiones 'Menu 1', 'Menu 2', 'Menu 3', 'Menu 4'
   ---------------------------------------------------------------------- */

.reg-menu {
  text-align: right;
  height:auto;
  border-bottom: none;
}

.reg-menu-separador { /* Quita la l’nea de separaci—n entre menœs de la versi—n m—vil */
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

/* ----------------------------------------------------------------------
   Regi—n 'Search Bar'
   ---------------------------------------------------------------------- */

.reg-search-bar {
  margin-top: 0;
  margin-bottom: 0;
  text-align:right;
  clear:none;
}

.redes-sociales {
  display:inline-block;
  float:none;
  margin-right: 2px;
}

img.logos-redes-sociales {
  margin-right: 0;
}

.reg-search-bar input[type="text"] {
  float: right;
  margin: 0 0;
}

.reg-search-bar .clearfix:after { /* Para dejar la barra de bœsqueda debajo de los enlaces de redes sociales */
  clear: both;
}

/* ======================================================================
   Zona 'Menu Bottom'
   ====================================================================== */

/* ----------------------------------------------------------------------
   Regi—n 'Menu Bottom Second'
   ---------------------------------------------------------------------- */

.reg-menu-bottom-second {
  text-align: right;
}

/* ----------------------------------------------------------------------
   Regi—n 'Menu Bottom Bottom'
   ---------------------------------------------------------------------- */

.reg-menu-bottom-bottom {
  margin-top: 0;
}

/* ======================================================================
   Zona 'Header'
   ====================================================================== */

/* ----------------------------------------------------------------------
   Región 'Header Top'
   ---------------------------------------------------------------------- */

.reg-header-top .block-image {
  display:inline-block;
}


/* ######################################################################
   Sección 'Content'
   ###################################################################### */

/* ======================================================================
   Zona 'Content'
   ====================================================================== */

/* ----------------------------------------------------------------------
   Región 'Sidebar first'
   ---------------------------------------------------------------------- */

.nube-de-tags-cortina {
  display:none;
}

.nube-de-tags {
  text-align:left;
}

.nube-de-tags li {
  display:block;
}

.nube-de-tags-off {
  height: auto;
  text-align:left;
}


/* ----------------------------------------------------------------------
   Región 'Content'
   ---------------------------------------------------------------------- */
.banner-individual { /* Clase para la etiqueta 'a' de los banner */
  display:block;
  width:100%;
}
.banner-individual img { /* Clase para las imágenes dentro de los banner */
  max-width:25%;
  padding:5%;
  display:inline-block;
  vertical-align:middle;
}
.banner-individual .texto { /* Clase para los textos dentro de los banner */
  max-width:55%;
  display:inline-block;
  vertical-align:middle;
  padding:5%;
}

.banner-255 img { /* Clase para las imágenes dentro de los banner */
  max-width:35%;
}

.linea-inferior-fina {
  margin-bottom:10px;
  border-bottom-width: 3px;
}



/* ----------------------------------------------------------------------
   Región 'Content' - clases aplicables a portada
   ---------------------------------------------------------------------- */
.izquierda-en-mobile { /* clase para el campo imagen de las noticias en portada */
  width:100%;
}

.normal-en-mobile {
  width:100%;
  margin-left:0;
  padding:0;
}


/* ######################################################################
   Secci—n 'Footer'
   ###################################################################### */

/* ======================================================================
   Zona 'Footer'
   ====================================================================== */

/* ----------------------------------------------------------------------
   Regi—n 'Footer First'
   ---------------------------------------------------------------------- */
.reg-footer-first {
  text-align:left;
}

/* ----------------------------------------------------------------------
   Regi—n 'Footer Second'
   ---------------------------------------------------------------------- */

.reg-footer-second div.block-image {
  width: 100%;
  margin: 0;
  float: right;
}

.reg-footer-second img {
  /*width: 100%;*/
  float: right;
}