/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


/* ######################################################################
   General
   ###################################################################### */

/* ======================================================================
   Texto
   (Sobreescribe algunos estilos de 'omega/omega/css/omega-text.css' y
   añade otros nuevos)
   ====================================================================== */

body {
  font: 75%/1.3 'News Cycle', Helvetica, Arial, sans-serif; /* 1em = 12px */
  line-height: 1.416667; /* = 17px */
}

p,
dl,
hr,
h1, h2, h3, h4, h5, h6,
ol, ul,
pre,
table,
address,
fieldset {
  margin-bottom: .4em;
}

a:link, a:visited {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #999;
}

.node-title a:link,
.node-title a:visited {
  color: #000;
}

.node-title a:hover {
  color: #999;
}

hr {
  margin-top: 1.5em;
  background: #eee;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: normal;
  font-family: 'News Cycle', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 1.333em;; /* = 14px */
}

h2 {
  font-size: 1.333em;; /* = 13px */
  color: #333;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 1.2em;
}

h2.block-title {
  font-weight: bold;
  margin-top: 0;
}

h2.node-title {
  font-size: 1.083em; /* = 13px */
  color: #000;
  font-weight: bold;
  text-decoration: none;
  margin-top: 0;
}

h3 {
  font-size: 1.250em; /* = 13px */
  margin-top: 1em;
  font-weight:normal;
}

h4 {
  font-size: 1.250em; /* = 13px */
  margin-top: 1em;
  font-weight:normal;
  color:#666;
}

h5 {
  font-size: 1.083em; /* = 12px */
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1em;
  color:#666;
}

h6 {
  color:#666;
  font-size: 1.083em; /* = 12px */
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1em;
}

dl dt {
  font-size: 1em;
  color: #666;
  text-transform: uppercase;
  margin-top: 1em;
}

dd {
  font-size: 1em;
  font-style: normal;
  margin-bottom: .5em;
}

dfn, cite, em, i {
  font-style: italic;
}

em em, cite cite {
  font-style: normal;
}

abbr {
  border-bottom: 1px dotted #eee;
  cursor: help;
  font-size: 1em;
}

abbr:hover {
  background: none repeat scroll 0 0 #f3f3f3;
  border-bottom: 1px dotted #aaa;
  color: #333;
}

thead th, th {
  background: #fff;
  border-bottom: 1px solid #ccc;
  color: #000;
  font-weight: bold;
}

blockquote {
  background: url("../images/quote.png") no-repeat scroll 0 4px transparent;
  margin: 0 1em;
  overflow: hidden;
  padding: 0 0 0 2em;
}

var {
  font-family: monospace;
}

ins {
  background: none repeat scroll 0 0 #f3f3f3;
  color: #000;
  font-style: italic;
  text-decoration: none;
}

mark {
  background: none repeat scroll 0 0 #f3f3f3;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

sup,
sub {
  font-size: 0.833333em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  background: none repeat scroll 0 0 #f3f3f3;
  font-family: Monaco, monospace, Courier, "Courier New";
  font-size: 11px;
  line-height: 1.75em;
  margin-bottom: 1.75em;
  overflow: auto;
  padding: 15px 20px;
  white-space: pre;
  word-wrap: break-word;
}

pre, code, kbd, tt, var, samp {
  font-family: monospace;
  font-size: 11px;
}

pre code {
  background: none repeat scroll 0 0 transparent;
  font-size: 11px;
  padding: 0;
}

code {
  background: none repeat scroll 0 0 #ffe5e5;
  font-family: Monaco, monospace, Courier, "Courier New";
  font-size: 11px;
  padding: 0 3px;
}

footer.submitted {
  font-size: .834em; /* = 10px */
}

.lista-sin-marcadores,
.lista-sin-marcadores ul,
.lista-sin-marcadores ol { /* Hace que no aparezcan los marcadores de los elementos de las listas con esta clase */
  list-style: none;
  padding-left: 0;
}

ul.lista-horizontal li,
ol.lista-horizontal li { /* Hace que los elementos de una lista se pongan uno a continuación del otro en horizontal */
  display:inline-block;
  padding:0 1px;
}

/* ======================================================================
   Botones, áreas de texto, introducción de datos, etc.
   (Sobreescribe 'omega/omega/css/formalize.css')
   ====================================================================== */

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  background: #fff;
  border: none;
  font-family: 'News Cycle', Helvetica, Arial, sans-serif;
  text-decoration: underline;
  padding: 0 10px 1px;
}

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover { /* Estilo añadido para cambiar de color al pasar el puntero por encima */
  color: #999;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border: 1px solid;
  border-color: #333;
  font-family: 'News Cycle', Helvetica, Arial, sans-serif;
  font-size: 1em;
  max-width:100%;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: #333 0 0 7px;
  -webkit-box-shadow: #333 0 0 7px;
  box-shadow: #333 0 0 7px;
}

/* ======================================================================
   Botones en nodos y comentarios
   (Sobreescribe 'omega/omega/css/omega-visuals.css')
   ====================================================================== */

.node-links ul li a,
.comment-links ul li a {
  margin: 0 2em 0.5em 0;
  background: #fff;
  border: none;
  font-family: 'News Cycle', Helvetica, Arial, sans-serif;
  padding: 0 0 3px 0;
  text-transform: uppercase;
  font-size: .834em; /* = 10px */
  font-weight: normal;
}

.node-links ul li a:hover,
.comment-links ul li a:hover {
  color: #999;
}

/* ======================================================================
   Imágenes y clases específicas como item-list
   (Sobreescribe 'omega/alpha/css/alpha-alpha.css')
   ====================================================================== */

img {
  max-width:100%;
}

.video-container {
  height:0px;
  width:100%;
  padding-top:56.25%; /* Relación: 16/9 = 56.25% */
  position:relative;
}
.video-container iframe {
  position:absolute;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
}

.item-list ul li {
  margin:0;
}

.region {
  min-height:1px;
}

/* ######################################################################
   Sección 'Header'
   ###################################################################### */

/* ======================================================================
   Zona 'Menu'
   ====================================================================== */

/* ----------------------------------------------------------------------
   Región 'Logo'
   ---------------------------------------------------------------------- */

.reg-logo div.block-image {
  width: 15%;
  margin: auto;
}

.reg-logo img {
  width: 100%;
}

/* ----------------------------------------------------------------------
   Regiones 'Menu 1', 'Menu 2', 'Menu 3', 'Menu 4'
   ---------------------------------------------------------------------- */
@media all and (min-width: 740px) and (min-device-width: 740px) {
.reg-menu-salto-linea h2.block-title { /* Fuerza el salto de línea en títulos de menú largos */
  width: 60%;
  margin-left: 40%;
}
}
.reg-menu,
.reg-menu h2.block-title { /* Convierte el texto de los elementos y títulos de menú a minúsculas */
  text-transform: lowercase;
}

.reg-menu h2 { /* Convierte el texto de los títulos de menú a negrita y al mismo tamaño de letra que los elementos */
  font-size: 1em;
  font-weight: bold;
  color: #000;
}

.reg-menu a:link,
.reg-menu a:visited {
  color: #000;
  text-decoration: none;
}

.reg-menu a:hover {
  color: #999;
}

.reg-menu .active-trail a {
  text-decoration: line-through;
}

.reg-menu-separador { /* Añade una línea de separación entre menús en la versión móvil */
  margin-bottom: .5em; /* = 6px */
  padding-bottom: .5em; /* = 6px */
  border-bottom: 1px dotted #ccc;
}

.reg-menu .nolink { /* Cambia a gris el color de los elementos de menú sin enlace */
  color: #eee;
}

body .reg-menu li { /* Ajusta la separación entre los elementos de menú */
  line-height: 1;
  padding-bottom: .25em; /* = 3px */
}

body .reg-menu h2.block-title { /* Ajusta la separación entre los elementos de menú y el título */
  line-height: 1;
  padding-bottom: .25em; /* = 3px */
  font-size:1.0769em;
}

/* ----------------------------------------------------------------------
   Región 'Search Bar'
   ---------------------------------------------------------------------- */

.reg-search-bar {
  margin-top: 1.5em; /* = 18px */
  margin-bottom: 1em; /* = 12px */
  overflow: hidden;
}

.redes-sociales {
  float:left;
/*  margin-left: 2px;*/
}
.redes-sociales a {
  margin-left:5px;
}
.redes-sociales a:first-child {
  margin-left:0;
}

img.logos-redes-sociales {
  width: 23px;
  height: auto;
}

.reg-search-bar input[type="text"] {
  width: 50%; /* Ajusta el ancho de la barra de búsqueda */
  height: 1.75em; /* Estrecha la altura de la barra de búsqueda a 21px */
  float: left; /* Barra de búsqueda alineada con los enlaces de redes sociales */
  margin: 1px 0 0 8px;
}

.reg-search-bar .clearfix:after { /* Para poder poner la barra de búsqueda en la misma línea que los enlaces de redes sociales */
  clear: none;
}

.reg-search-bar p {
  margin: 0;
}

.reg-search-bar form {
  margin: 0;
}

.reg-search-bar .block-45 {
  text-transform:lowercase;
  font-weight:bold;
  padding-top:6px;
  clear:both;
}

/* ======================================================================
   Zona 'Menu Bottom'
   ====================================================================== */

.zon-menu-bottom {
  margin-top: .75em; /* = 9px */
}

.zon-menu-bottom hr {
  margin: 0;
  background-color: #000;
  height: 3px;
}

.zon-menu-bottom p {
  margin: 0;
  font-size: .834em; /* = 10px */
  line-height: 1.2;
  padding-bottom: .25em; /* = 3px */
}

.zon-menu-bottom a:link,
.zon-menu-bottom a:visited {
  color: #666;
  text-decoration: none;
}

.zon-menu-bottom a:hover {
  color: #999;
}

/* ----------------------------------------------------------------------
   Región 'Menu Bottom Top'
   ---------------------------------------------------------------------- */

.reg-menu-bottom-top hr { /* Oculta la línea superior de la franja */
  display: none;
}

/* ----------------------------------------------------------------------
   Región 'Menu Bottom Second'
   ---------------------------------------------------------------------- */

.reg-menu-bottom-second {
  text-align:left;
}

/* ----------------------------------------------------------------------
   Región 'Menu Bottom Bottom'
   ---------------------------------------------------------------------- */

.reg-menu-bottom-bottom {
  margin-top: .5em; /* = 6px */
}

/* ======================================================================
   Zona 'Header'
   ====================================================================== */

.zon-header {
  margin-bottom: .1667em; /* = 2px */
}

/* ----------------------------------------------------------------------
   Región 'Header Top'
   ---------------------------------------------------------------------- */

.reg-header-top {
  display:inline-block;
  width:auto;
}

.block-imageblock-8, /* Bloque de imagen icono Foros */
.block-imageblock-9, /* Bloque de imagen icono Noticias */
.block-imageblock-12 /* Bloque de imagen logo 255 */ {
  display:inline-block; /* Hace que estos bloques de imágenes se muestren en una sola línea cuando son incluidos en cabeceras */
  vertical-align:middle;
  margin-left:1.5em;
}

.block-img-icons img {
  max-height: 44px;
}

.block-16, /* Bloque de cabecera '255' */

.block-18, /* Bloque de cabecera 'Ayudas al estudio' */
.block-19, /* Bloque de cabecera 'CDC' */
.block-20, /* Bloque de cabecera 'Cultura' */
.block-21, /* Bloque de cabecera 'Cursos Daetsam' */
.block-22, /* Bloque de cabecera 'Alquileres' */
.block-23, /* Bloque de cabecera 'Orla' */

.block-24, /* Bloque de cabecera 'Últimas noticias' */
.block-25, /* Bloque de cabecera 'Agenda' */
.block-26, /* Bloque de cabecera 'Becas y ayudas' */
.block-27, /* Bloque de cabecera 'Cursos' */
.block-28, /* Bloque de cabecera 'Concursos' */
.block-29, /* Bloque de cabecera 'Trabajo' */
.block-30, /* Bloque de cabecera 'Archivo' */

.block-31, /* Bloque de cabecera 'Académico' */
.block-32, /* Bloque de cabecera 'Recursos' */
.block-33, /* Bloque de cabecera 'Movilidad' */
.block-34, /* Bloque de cabecera 'Estudios y profesión' */
.block-35 /* Bloque de cabecera 'Intercambios' */ { 
  display:inline-block; /* Hace que estos bloques de títulos de cabeceras se muestren en una sola línea cuando las cabeceras también incluyen bloques de imágenes */
  vertical-align:middle;
}

.reg-header-top .block-image {
  display:none;
}

.reg-header-top h1 {
  font-family: 'Steelfish';
  letter-spacing: normal;
  font-size: 4.417em; /* = 53px */
  font-weight: normal;
  line-height: .905660; /* = 48px */
  padding-bottom: .0377em; /* = 2px */
  text-transform: uppercase;
  margin-bottom: 0;
}

.reg-header-top h1 a {
  color:#000;
}

.reg-header-top h1 a:hover {
  color:#999;
}

.reg-header-top h1 .mayuscula-acento { /* Cambia el texto a versalitas (para usarlo en las vocales con acento en los títulos grandes de los apartados) */
  text-transform: none;
  font-variant: small-caps;
}

/* ----------------------------------------------------------------------
   Región 'Header Icon'
   ---------------------------------------------------------------------- */
.reg-header-icon {
  display:inline-block;
  width:auto;
}

/* ----------------------------------------------------------------------
   Región 'Header Bottom'
   ---------------------------------------------------------------------- */

.reg-header-bottom hr {
  margin: 0;
  background-color: #000;
  height: 3px;
}


/* ######################################################################
   Sección 'Content'
   ###################################################################### */

/* ======================================================================
   Zona 'Content'
   ====================================================================== */

.zon-content {
  margin-top: .25em; /* = 3px */
}

.zon-content .content {
  margin-bottom: .5em; /* = 6px */
}

.zon-content h1 {
  text-transform:uppercase;
}

.alpha { /* Permite que los elementos de una vista organizados en columnas de rejilla puedan colocarse ocupando todas las columnas (módulo Views Column Class) */
  clear: left;
}

li.alpha { /* Evita que aparezcan botones de lista en las vistas, en la versión móvil */
  list-style: none;
}

div.read-more {
  margin-bottom:.5em;
}


/* ----------------------------------------------------------------------
   Región 'Sidebar First'
   ---------------------------------------------------------------------- */

.reg-sidebar-first-submenu { /* Convierte el texto de los elementos de submenú a mayúsculas */
  text-transform: uppercase;
}

.reg-sidebar-first-submenu li { /* Ajusta la separación entre los elementos de submenú */
  line-height: .917; /* = 11px */
  padding-bottom: .25em; /* = 3px */
}

.reg-sidebar-first-submenu a:link,
.reg-sidebar-first-submenu a:visited {
  color: #000;
  text-decoration: none;
}

.reg-sidebar-first-submenu a:hover {
  color: #999;
}

.reg-sidebar-first-submenu .active-trail a {
  text-decoration: line-through;
}

.reg-sidebar-first-submenu .nolink { /* Cambia a gris el color de los elementos de submenú sin enlace */
 color: #eee;
}

.reg-sidebar-first-submenu hr {
  margin-top: .334em; /* = 4px */
  background-color: #000;
  height: 3px;
}


.nube-de-tags {
  text-align:justify;
}
.nube-de-tags li {
  display:inline-block;
}

/* ----------------------------------------------------------------------
   Región 'Content'
   ---------------------------------------------------------------------- */
.linea-inferior-gruesa {
  margin-bottom:10px;
  border-bottom:#000 3px solid;
}

.sin-margen-superior {
  margin-top:0;
}

.linea-inferior-fina {
  margin-top:5px;
  margin-bottom:10px;
  border-bottom:#000 1px solid;
}

.con-margen-superior {
}

.con-margen-inferior {
  margin-bottom:1em;
}

#forum {
  margin-top:5em;
}
.forum-post {
  padding-top:2em;
}

@media all and (max-width:730px) {
.reg-content .grid-1,
.reg-content .grid-2,
.reg-content .grid-3,
.reg-content .grid-4,
.reg-content .grid-5,
.reg-content .grid-6,
.reg-content .grid-7,
.reg-content .grid-8,
.reg-content .grid-9,
.reg-content .grid-10,
.reg-content .grid-11,
.reg-content .grid-12 {
  margin-left:0;
  margin-right:0;
}
}
/* ----------------------------------------------------------------------
   Región 'Content' - estilos específicos para págians concretas
   ---------------------------------------------------------------------- */
/*

	Texto pequeño

*/
.small-text {
  font-size:0.9em;
}
.big-text {
  font-size:1.6em;
}

/*

	Estadísticas

*/
dl.statistics {
  border-left:#000 2px solid;
  padding:2px 0;
  margin:0;
}
dl.statistics dt {
  float:left;
  background:#AAA;
  padding:0px;
  margin:2px 0;
  height:20px;
}
dl.statistics dd {
  padding:2px 2px;
  margin:3px 0;
  font-size:0.9em;
  
  height:22px;
  
  white-space:nowrap;
  overflow:hidden;
}
dl.statistics dt.statistcs-highlight {
  background:#000;
}


/*
   Estilos para el plugin 'daetsam-slider'
   Muestra contenido como una galería de imágenes.
*/
.daetsam-slider {
  margin:10px 0;
}
.daetsam-slider ul {
  list-style:none;
  padding:0;
  margin:0 0 10px 0;
  position:relative;
}
.daetsam-slider li {
  top:0;
  left:0;
  height:100%;
}
.daetsam-slider li.changing {
  position:absolute;
}

.daetsam-slider ul.bullet-list {
  position:static;
  height:auto;
  list-style:none;
}
.daetsam-slider ul.bullet-list li {
  position:static;
  display:inline-block;
  height:4px;
  width:20px;
  margin:0 3px 0 0;
}
.daetsam-slider ul.bullet-list a {
  display:block;
  width:100%;
  height:100%;
  background:#000;
}
.daetsam-slider ul.bullet-list li.active-trail a,
.daetsam-slider ul.bullet-list a:hover {
  background:#999;
}



/* ######################################################################
   Sección 'Footer'
   ###################################################################### */

/* ======================================================================
   Zona 'Footer'
   ====================================================================== */

.zon-footer {
  margin: 3em 0 2em 0;
}

.zon-footer p {
  margin: 0;
  font-size: .834em; /* = 10px */
  line-height: 1.2;
  padding-bottom: .25em; /* = 3px */
}

.zon-footer a:link,
.zon-footer a:visited {
  color: #000;
  text-decoration: none;
}

.zon-footer a:hover {
  color: #999;
}

/* ----------------------------------------------------------------------
   Región 'Footer Top'
   ---------------------------------------------------------------------- */

.reg-footer-top hr {
  margin: 0 0 2px 0;
  background-color: transparent;
  border-top: 1px dotted #ccc;
  height: 1px;
}

/* ----------------------------------------------------------------------
   Región 'Footer First'
   ---------------------------------------------------------------------- */

.reg-footer-first {
  text-align: center;
  margin-bottom: 1em;
}

/* ----------------------------------------------------------------------
   Región 'Footer Second'
   ---------------------------------------------------------------------- */

.reg-footer-second div.block-image {
  width: 14.25%; /* Ancho máximo imagen logo completo = 100px */
  text-align:center;
  margin: auto;
}

.reg-footer-second img {
  width: 100%;
}



/* ######################################################################
   Específico para bloques
   ###################################################################### */

/* ======================================================================
   Bloque vista 'asociaciones 1'
   Bloque vista 'asociaciones 2'
   ====================================================================== */
#block-views-asociaciones-block-1 .field-name-field-imagen,
#block-views-asociaciones-block-2 .field-name-field-imagen {
	text-align:center;
}